.App__mainContainer {
  background-color: grey;
  width: 100%;
  height: 100vh;
}
.App__mainNavbar{
  width: 100%;
  height: 70px;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  padding-left: 20px;
  
}
.App__tabButtons{
  padding-left: 15px;
  padding-right: 15px;
  height:50px;
  background-color: darkgoldenrod;
  margin-right:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.App__tabButtons:hover{
  background-color: hotpink;
}
.App__pageContents {
  width: 100%;
  height: 100vh;
  background-color: lavender;
}